<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Mitansh Panchal</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/me.jpeg">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style>
  @import url('https://fonts.googleapis.com/css2?family=Merienda&family=Share+Tech+Mono&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Merienda&family=Share+Tech+Mono&display=swap');
  a {
    font-family: 'Merienda', cursive;
  }
  
  p {
   font-family: 'Major Mono Display', monospace;
  }

  </style>
</head>

<center>
<body class="bg-gradient-to-r from-gray-400 to-gray-100">
  <header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-3 flex-col md:flex-row items-center">
    <a href="/" class="flex title-font font-medium items-center text-gray-900 md:mb-0">
      <span class="text-2xl p-4 font-bold">Mitansh Panchal</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center text-sm font-bold text-black underline">
      <a href="/" class="p-2 hover:text-white">Home</a>
      <a href="/blog/"class="p-2 hover:text-white">Blog</a>
      <a href="https://github.com/looph0le" target="_blank" class="p-2 hover:text-white">Github</a>
      <a href="#" class="p-2 hover:text-white">Resume</a>
    </nav>
  </div>
</header>
  <section class="section">
    <div class="container p-3">
      {% block content %} {% endblock %}
    </div>
  </section>
</body>

</html>
