{% extends "base.html" %}

{% block content %}
<img class="rounded-3xl scale-90 drop-shadow-2xl shadow-black " src="/me.jpeg">
<br>
<a class="title text-black text-center text-xl font-bold">
  > Hey There < 
</a>
<br>
<br>
<a class="text-black">I'm Mitansh, Currently pursuing Computer Engineering Diploma from</a>
<a href="https://www.msubaroda.ac.in/" target="_blank" class="underline">The Maharaja Sayajirao University of Baroda</a>
<a class="text-sm">[Polytechnic].</a>
<br>
<a> A native Linux user
<a class="text-sm">[ from past 4 years]</a>.
<br>
<a>Have experience writing scripts</a>
<a class="text-sm">[ shell, bash, python ]</a>
<a>and implementing virtual machines</a>  
<a class="text-sm">[ Window, MacOS and several Linux distributions ]</a>
</a>
<a>Also Docker.</a>

<br>
<a>Worked on few Web Development projects as well</a>
<a class="text-sm">[ AngularJS ].</a>


<br>
<br>

<a class="text-xl font-bold">> Contact Me <</a>
<br>
<br>

<div class="">
<a href="mailto: mitanshpanchal@gmail.com">Email
<p class="text-gray-900">mitanshpanchal@gmail.com</p>
</a>

<br>
<br>
<a href="tel:+917265887213">Phone
<p class="text-gray-900">7265887213</p>
</a>

</div>


{% endblock content %}
