{% extends "base.html" %}

{% block content %}
<img class="rounded-3xl scale-90 drop-shadow-2xl shadow-black " src="/me.jpeg">
<br>
<a class="title text-black text-center text-xl font-bold">
  > Hey There < 
</a>
<br>
<br>
<a class="text-black">I'm Mitansh, Currently pursuing Computer Engineering Diploma from</a>
<a href="https://www.msubaroda.ac.in/" target="_blank" class="underline">The Maharaja Sayajirao University of Baroda</a>
<a class="text-sm">[Polytechnic].</a>
<br>
<a> A native Linux user
<a class="text-sm">[ from past 4 years]</a>.
<br>
<a>Have experience writing scripts</a>
<a class="text-sm">[ shell, bash, python ]</a>
<a>and implementing virtual machines</a>  
<a class="text-sm">[ Window, MacOS and several linux distributions ]</a>
</a>
<a>Also Docker.</a>

<br>
<br>

<a class="text-xl font-bold">> Contact Me <</a>
<br>
<br>

<div class="">
<a class="">Email</a><p>mitanshpanchal@gmail.com</p>
<br>
<br>
<a class="">Phone</a><p>7265887213</p>
</div>


<br>
<br>

<br>
<br>
{% endblock content %}
